@import url("https://fonts.googleapis.com/css2?family=Monomakh&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}
.main {
  background-color: white;
  min-height: 400px;
  width: 70%;
  place-self: center;
  max-width: 300px;
  border-radius: 10px;
  margin-top: 170px;
}
.container {
}
.title {
  padding-top: 30px;
  font-family: "Sedgwick Ave", cursive;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
}
.task-form {
  margin-top: 20px;
  text-align: center;
}
.task-form input {
  padding: 7px 5px;
  background-color: rgba(220, 220, 220, 0.247);
  border: 1px solid rgba(128, 128, 128, 0.274);
  border-right: none;
  outline: none;
}
.task-form button {
  font-weight: bold;
  padding: 7px;
  background-color: silver;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  border-left: none;
}
.task-list {
  list-style: none;
  margin-top: 20px;
  margin-left: 10px;
}
.task-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(227, 231, 235, 0.493);
  margin-bottom: 2px;
}
.task-text {
  flex: 1;
}
.cross-line {
  text-decoration: line-through;
}
.delete-btn {
  color: rgb(242, 70, 70);
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
}
